* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.App {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 900 !important;
}

.auth-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.toast-success {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
}

.toast-warning {
    background-color: #ff9800;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
}

.toast-error {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border-radius: 3px;
}